* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

.employee-list {
  list-style: none;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.employee-card {
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px 32px;
}

.engineer {
  background-color: #f1f1f1;
}
